.column {
    float: left;
    width: 30%;
    height: 500px;
    padding: 10px;

}

#before {
    background-color: #e3e3e3;
}
#during {
    background-color: #c3c3c3;
}
#after {
    background-color: #e3e3e3;
}

h2 {
    background-color: #727272;
    text-align: center;
}

img {
  width: 100%;

}

p {
    background-color: #727272;
    text-align: center;
    padding: 10px;
    margin: 10px;
    display: block;
}